ENV=development
NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
NATIVE_CONTRACT_ID="CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC"
RATE_LIMIT_ENABLED=true
RATE_LIMIT_MAX_REQUESTS=30
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_BACKOFF_BASE_MS=1000
RATE_LIMIT_BACKOFF_FACTOR=2
RATE_LIMIT_BACKOFF_MAX_MS=600000